#root {
    background-color: #efefef;
    /* background-color: #f8f9fa; */
    /* background-color: #FFFAF0; */
    /* background-image: url('assets/images/images.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

}

.grid {
    background-color: #f8f9fa;
}